<!DOCTYPE html>
<html lang="en">


<head>
    <title>Conquest | Map</title>
    <%- include partials/head.ejs %>
    <meta name="description" content="View the official conquest game's map on this page!">
    <meta property="og:description" content="View the official conquest game's map on this page!">
    <meta name="twitter:description" content="View the official conquest game's map on this page!">
    <meta itemprop="description" content="View the official conquest game's map on this page!">
    <script src='https://cdn.babylonjs.com/babylon.max.js'></script>
    <link rel="stylesheet" href="./stylesheets/map.css">
</head>

<body>

</body>

</html>